.nav-tabs, .nav-pills {
  font-weight: 400;
}

.nav-tabs {
  border-bottom:0;
  .nav-link {
    box-sizing: border-box;
    height: 2.25rem;
    line-height: 2.25rem;
    white-space: nowrap;
    margin: 0 .75rem;
    color: map-get($neutral-palette, "8");
    cursor: pointer;
    background: transparent;
    padding:0;
    &:hover {
      border-color:transparent;
      color: rgba(0,0,0,.8);
    }
    &:focus {
      border-color:transparent;
      outline:0;
    }
    &:first-child {
      margin-left:0;
    }
    &.active {
      color: map-get($neutral-palette, "10");
      border-width:0;
      border-bottom: 2px solid map-get(map-get($colors-palette, "primary"), "bg");
      background: transparent;
    }
    &.disabled {
      cursor: not-allowed;
      color: map-get($neutral-palette, "4");
      &:hover { color: map-get($neutral-palette, "4"); }
    }
  }
}

.nav-pills .nav-link, .dropdown-menu {
  border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link {
  border-color: transparent;
}
