%-menu-item {
    background: transparent;
    outline: 0;
    border: 1px solid transparent;
    position: relative;
    z-index: 1200;
    box-shadow: none;
    cursor: pointer;
    padding: 0 1rem;
    text-align: left;
    margin: 0;
}

@media (min-width: 768px) {
    %-menu-item {
        min-width: 4rem;
        padding: .2rem .8rem;
        line-height: 1.125rem;
    }
}

@media (min-width: 992px) {
    %-menu-item {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        min-width: 6rem;
        padding: .3rem 1.2rem;
        line-height: 1.6875rem;
    }
}

@media (min-width: 1200px) {
    %-menu-item {
        min-width: 10rem;
        padding: .5rem 2rem;
        line-height: 2.8125rem;
    }
}

nav.navbar {

    &.with-horizontal-trail {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        padding-right: 0;

        .navbar-brand {
            box-shadow: 3px -3px 13px 0px rgba(0,0,0,0.75);
            z-index: 1201;
        }

        .horizontal-trail {
            float: right;
            display: flex;
            flex-wrap: nowrap;
            overflow: auto;
            white-space: nowrap;
        }

    }

    .navbar-toggler {
        margin-top: 0;
        border: none;
        &[aria-expanded='false']::before { content: "\EB48"; };
        &[aria-expanded='true']::before { content: "\EAA2"; };
    }

    .navbar-toggler-icon {
        display:none;
    }

    ul.navbar-nav { margin-left: 0; };

    .nav-item {
        @extend %-menu-item;
        &.active { text-decoration: underline; };
        &.icon-only {
            min-width: 0; 
            padding-right: 2.8125rem;
            &:hover { text-decoration: none; };
        };
       
        .mi {
            line-height: 2.8125rem;
            font-size: 1.5rem;
        }
    }

    .nav-link {
        padding-left: 1rem;
        &.disabled { cursor: not-allowed; }
        &:focus { outline: 0; };
    }

}