ul.pagination {


    .page-item {

        margin-right: 12px;
        a.page-link { 

            background: transparent; 
            border: none;
            outline: 0;
            // padding: 6px 12px;
            color: map-get(map-get($colors-palette, "primary"), "bg");;
            white-space: nowrap;
            border-radius:0;

        }

        &.active a.page-link { border: 1px solid map-get($neutral-palette, "10"); }
        &.disabled { cursor: not-allowed; }
        &.disabled a.page-link { color: map-get($neutral-palette, "6"); }
        
    }


}